    @font-face {
      font-family: 'SpoqaHanSansNeo-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
      font-style: normal;
    }

    @font-face {
      src: url(./NanumGothicCoding.ttf);
      font-family: 'Nanum Gothic Coding', monospace;
    }

    body {
      font-family: 'SpoqaHanSansNeo-Regular', 'Nanum Gothic Coding', sans-serif;
      margin: 0px;
    }


    #infoSection {
      display: flex;
      justify-content: center;
      height: 97px;
    }

    #container {
      height: 97px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .name {
      justify-content: left;
      width: 223px;
      height: 45px;
      font-size: 30px;
      font-family: 'Nanum Gothic Coding', monospace;
    }

    .five {
      flex: 1;
      text-align: center;
      font-size: 15px;
    }

    #info {
      justify-content: center;
      display: flex;
      flex-direction: row;
      padding-left: 130px;
      padding-right: 150px;
      width: 460px;
      height: 30px;
    }

    #info div:hover {
      color: royalblue;
    }

    .last {
      flex: 1.5;
    }

    #apply {
      width: 223px;
      height: 45px;
      display: flex;
      flex-direction: row-reverse;
    }

    #applyB {
      width: 165px;
      height: 35px;
      background-color: white;
      border: 1px solid;
      border-color: darkgray;
      color: gray;
      transition: 0.3s;
    }

    #apply button:hover {
      background-color: rgb(49, 67, 164);
      color: white;
      border-color: rgb(49, 67, 164);
    }


    #picture {
      display: flex;
    }

    #new {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 125px;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    #newTitle {
      font-size: 26px;
    }

    #asdf {
      text-align: center;
      font-size: 14px;
      color: rgb(40, 40, 40);
    }

    #three {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 30px;
    }

    .threepigs {
      width: 297px;
      height: 167px;
      background-color: rgb(49, 67, 164);
      color: white;
      padding: 25px;
    }

    .threetitle {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .threeinfo {
      margin-bottom: 90px;
      margin-top: 5px;
      font-size: 14px;
    }

    .look {
      font-size: 12px;
    }

    .center {
      background-color: rgb(4, 18, 81)
    }
